# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.py.class

/.cursor
/old_app_logs
/old_app_logs/*

# Environments
.env
.venv
env/
venv/

*.TTF
# Logs
*.log

*.example

# Документы
*.pdf
*.docx
*.pptx
*.xlsx
*.xls
*.csv
*.json
*.yaml
*.md

# Игнорируем файлы окружения

# Игнорируем файлы конфигурации IDE
.idea/
*.iml

# Игнорируем файлы логов

# Игнорируем временные файлы
*.tmp
*.tmp.*
*.tmp_*
*.tmp_*.*

# Игнорируем файлы конфигурации
config.py

# Игнорируем изображения
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff


