# Игнорируем виртуальные окружения
venv/

# Игнорируем файлы конфигурации IDE
.idea/
*.iml

# Игнорируем файлы логов
.logs/

# Игнорируем файлы данных пользователей
user_data/
user_data.json

# Игнорируем временные файлы
*.pyc
__pycache__/
*.pyo
*.pyd
*.log
*.pdf

# Игнорируем файлы окружения
.env
