# Игнорируем виртуальные окружения
venv/

# Игнорируем файлы конфигурации IDE
.idea/
*.iml

# Игнорируем файлы логов
logs/
*.log

# Игнорируем файлы данных пользователей
user_data/
user_data.json

# Игнорируем временные файлы
*.pyc
__pycache__/
*.pyo
*.pyd

# Игнорируем файлы Docker
Dockerfile
docker-compose.yml

# Игнорируем файлы и директории, которые не нужны в образе
README.md
