# Игнорируем виртуальные окружения
.venv/
.venv1/
venv2/
user_data/

# Игнорируем файлы конфигурации IDE
.idea/
*.iml

# Игнорируем файлы логов
.logs/

# Игнорируем файлы данных пользователей
user_data/
user_data.json

# Игнорируем временные файлы
*.pyc
__pycache__/
*.pyo
*.pyd

# Игнорируем файлы окружения
.env
